body{
background: url("ozer.jpg") center;
background-size:cover;
background-repeat: no-repeat;
height:100vh;
   }
.list-group{
padding:100px;
background: rgba(205, 214, 219, 0.0);
}
h1 {color: #CD6829;}
.list-group-item{
background: rgba(205, 214, 219, 0.0);
color:#CD6829;
}
.container{
padding:100px;
background: rgba(205, 214, 219, 0.0);
color:#7FFFD4;
}
.nav-link{
color:#87CEEB;
}
.navbar-brand{
color:purple;
}
h3 {color: #F0FFFF;}
.list-group-item{
background: rgba(205, 214, 219, 0.0);
color:#F0FFFF;
}