<!doctype html>
{%load static%}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
     <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}" >
     <link rel="stylesheet" href="{%static 'css/style3.css'%}">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" >Aventura Travel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {%if request.user.is_authenticated%}
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'tourtype'%}">Виды туризма</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'tourplace'%}">Популярные маршруты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home">Товары для туризма</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout'%}">Выход</a>
                </li>
                {%else%}
                <a href="{% url 'register' %}">Регистрация</a> | <a  href="{% url 'login' %}">Войти</a>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<h1>Обратная связь</h1>
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary btn-block">Send</button>
</form>
</div>
</body>
</html>